.order-items > div:nth-child(even) {
    @apply bg-gray-100;
}

.order-links {
    @apply block items-center bg-white;
}

.order-links li {
    @apply inline-block py-2 px-4 cursor-pointer whitespace-nowrap;
}

.order-links li.current {
    @apply flex-grow;
}

.order-links li a {
    @apply underline;
}

.order-date {
    @apply text-sm;
}
