<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::content">
                <resource id="BigConnect_Inspiration::inspiration" title="Inspirations" sortOrder="90">
                    <resource id="BigConnect_Inspiration::manage" title="Manage Inspirations"/>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
