<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BigConnect_ContactForm::ContactForm" title="Contact Forms" module="BigConnect_ContactForm" sortOrder="2" action="mpbannerslider/banner/index/" resource="BigConnect_ContactForm::ContactForm" parent="BigConnect_Core::main"/>
    </menu>
</config>