<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="hyvastarter" translate="label" sortOrder="300">
            <label>Hyva Starter</label>
        </tab>
        <section id="hyvastarter" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hyva Starter Settings</label>
            <tab>hyvastarter</tab>
            <resource>BigConnect_HyvaStarter::config</resource>
            <group id="header" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Header</label>
                <field id="custom_menu_links_note" translate="label" type="note" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Menu Links</label>
                </field>
                <group id="header_links" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Menu Links</label>
                    <comment>Configure up to 10 custom menu links for the header.</comment>
                    <group id="item1" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 1</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item1/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item1/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item1/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item1/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item1/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item1/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item1/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item2" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 2</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item2/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item2/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item2/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item2/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item2/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item2/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item2/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item3" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 3</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item3/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item3/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item3/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item3/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item3/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item3/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item3/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item4" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 4</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item4/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item4/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item4/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item4/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item4/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item4/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item4/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item5" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 5</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item5/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item5/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item5/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item5/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item5/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item5/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item5/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item6" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 6</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item6/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item6/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item6/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item6/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item6/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item6/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item6/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item7" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 7</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item7/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item7/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item7/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item7/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item7/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item7/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item7/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item8" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 8</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item8/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item8/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item8/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item8/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item8/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item8/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item8/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item9" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 9</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item9/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item9/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item9/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item9/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item9/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item9/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item9/target_blank</config_path>
                        </field>
                    </group>
                    <group id="item10" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Item 10</label>
                        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item10/enabled</config_path>
                        </field>
                        <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Label</label>
                            <config_path>bigconnect_hyvastarter/header_links/item10/label</config_path>
                        </field>
                        <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>URL</label>
                            <config_path>bigconnect_hyvastarter/header_links/item10/url</config_path>
                        </field>
                        <field id="icon" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Icon</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkIconOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item10/icon</config_path>
                        </field>
                        <field id="variant" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Variant</label>
                            <source_model>BigConnect\HyvaStarter\Model\Config\Source\HeaderLinkVariantOptions</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item10/variant</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>bigconnect_hyvastarter/header_links/item10/sort_order</config_path>
                        </field>
                        <field id="target_blank" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Open in new tab</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>bigconnect_hyvastarter/header_links/item10/target_blank</config_path>
                        </field>
                    </group>
                </group>
            </group>
            <group id="footer" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Footer</label>
                <field id="about_text" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>About text</label>
                </field>
                <field id="logo" translate="label" type="image" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">hyvastarter/footer</upload_dir>
                    <base_url type="media" scope_info="1">hyvastarter/footer</base_url>
                </field>
                <field id="facebook_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook URL</label>
                </field>
                <field id="instagram_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram URL</label>
                </field>
                <field id="youtube_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>YouTube URL</label>
                </field>
                <field id="col2_title" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Column 2 title</label>
                </field>
                <field id="col2_html" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Column 2 HTML</label>
                </field>
                <field id="col3_title" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Column 3 title</label>
                </field>
                <field id="col3_html" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Column 3 HTML</label>
                </field>
                <field id="col4_title" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Column 4 title</label>
                </field>
                <field id="col4_html" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Column 4 HTML</label>
                </field>
                <field id="show_phone" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show phone</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="store_benefits" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Store Benefits</label>
                <field id="b1_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 1 title</label>
                </field>
                <field id="b1_text" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 1 text</label>
                </field>
                <field id="b1_icon" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 1 icon</label>
                    <source_model>BigConnect\HyvaStarter\Model\Config\Source\BenefitIconOptions</source_model>
                    <frontend_model>BigConnect\HyvaStarter\Block\Adminhtml\System\Config\Form\Field\BenefitIconPreview</frontend_model>
                </field>
                <field id="b1_icon_custom" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 1 custom icon</label>
                    <backend_model>BigConnect\HyvaStarter\Model\Config\Backend\BenefitIcon</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">hyvastarter/benefits</upload_dir>
                    <base_url type="media" scope_info="1">hyvastarter/benefits</base_url>
                    <comment>If custom icon is uploaded, it will be used instead of the selected icon.</comment>
                </field>
                <field id="b2_title" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 2 title</label>
                </field>
                <field id="b2_text" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 2 text</label>
                </field>
                <field id="b2_icon" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 2 icon</label>
                    <source_model>BigConnect\HyvaStarter\Model\Config\Source\BenefitIconOptions</source_model>
                    <frontend_model>BigConnect\HyvaStarter\Block\Adminhtml\System\Config\Form\Field\BenefitIconPreview</frontend_model>
                </field>
                <field id="b2_icon_custom" translate="label" type="image" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 2 custom icon</label>
                    <backend_model>BigConnect\HyvaStarter\Model\Config\Backend\BenefitIcon</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">hyvastarter/benefits</upload_dir>
                    <base_url type="media" scope_info="1">hyvastarter/benefits</base_url>
                    <comment>If custom icon is uploaded, it will be used instead of the selected icon.</comment>
                </field>
                <field id="b3_title" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 3 title</label>
                </field>
                <field id="b3_text" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 3 text</label>
                </field>
                <field id="b3_icon" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 3 icon</label>
                    <source_model>BigConnect\HyvaStarter\Model\Config\Source\BenefitIconOptions</source_model>
                    <frontend_model>BigConnect\HyvaStarter\Block\Adminhtml\System\Config\Form\Field\BenefitIconPreview</frontend_model>
                </field>
                <field id="b3_icon_custom" translate="label" type="image" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 3 custom icon</label>
                    <backend_model>BigConnect\HyvaStarter\Model\Config\Backend\BenefitIcon</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">hyvastarter/benefits</upload_dir>
                    <base_url type="media" scope_info="1">hyvastarter/benefits</base_url>
                    <comment>If custom icon is uploaded, it will be used instead of the selected icon.</comment>
                </field>
                <field id="b4_title" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 4 title</label>
                </field>
                <field id="b4_text" translate="label" type="textarea" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 4 text</label>
                </field>
                <field id="b4_icon" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 4 icon</label>
                    <source_model>BigConnect\HyvaStarter\Model\Config\Source\BenefitIconOptions</source_model>
                    <frontend_model>BigConnect\HyvaStarter\Block\Adminhtml\System\Config\Form\Field\BenefitIconPreview</frontend_model>
                </field>
                <field id="b4_icon_custom" translate="label" type="image" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit 4 custom icon</label>
                    <backend_model>BigConnect\HyvaStarter\Model\Config\Backend\BenefitIcon</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">hyvastarter/benefits</upload_dir>
                    <base_url type="media" scope_info="1">hyvastarter/benefits</base_url>
                    <comment>If custom icon is uploaded, it will be used instead of the selected icon.</comment>
                </field>
            </group>
            <group id="homepage_categories" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Homepage Categories</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="subtitle" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subtitle</label>
                </field>
                <field id="category_ids" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category IDs</label>
                    <comment>Comma or space separated IDs. Example: 12, 34, 56</comment>
                </field>
                <field id="show_desc" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="desc_maxlen" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description max length</label>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Limit</label>
                </field>
                <field id="fallback_image" translate="label" type="image" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fallback image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">hyvastarter/homepage_categories</upload_dir>
                    <base_url type="media" scope_info="1">hyvastarter/homepage_categories</base_url>
                </field>
            </group>
        </section>
    </system>
</config>
