/**
 * different styles can be found at https://tailwindcss-forms.vercel.app/
 **/
.form-input,
.form-email,
.form-select,
.form-multiselect,
.form-textarea {
    @apply border-2 border-gray-200 rounded-lg px-4 py-3 shadow-sm min-h-[44px] transition-colors;

    &:focus {
        @apply border-brand outline-none ring-0;
    }
}
