body {
    @apply bg-white;
}

[x-cloak] {
    display: none !important;
}

.card {
    @apply p-4 rounded-sm bg-surface-light shadow;
}

.card-interactive {
    &:hover {
        @apply bg-white;
    }
}
