@layer utilities {
    /* This class only exists for backwards compatibility, */
    /* The default is applied in tailwind.config.js since Hyvä 1.2.0 */
    .text-sans-serif {
        font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    }

    /* Nová utilita pre Jost */
    .font-setup {
        font-family: "Jost", ui-sans-serif, system-ui, sans-serif;
    }
}

@layer base {

    html {
        font-family: "Jost", ui-sans-serif, system-ui, sans-serif;
    }
}

html {
    @apply antialiased;
}

body {
    @apply text-black leading-normal text-base tracking-normal;
    font-size: 15px;
}
