<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <hyvastarter>
            <footer>
                <about_text></about_text>
                <logo></logo>
                <facebook_url></facebook_url>
                <instagram_url></instagram_url>
                <youtube_url></youtube_url>
                <col2_title></col2_title>
                <col2_html></col2_html>
                <col3_title></col3_title>
                <col3_html></col3_html>
                <col4_title></col4_title>
                <col4_html></col4_html>
                <show_phone>1</show_phone>
            </footer>
            <store_benefits>
                <b1_title></b1_title>
                <b1_text></b1_text>
                <b1_icon></b1_icon>
                <b1_icon_custom></b1_icon_custom>
                <b2_title></b2_title>
                <b2_text></b2_text>
                <b2_icon></b2_icon>
                <b2_icon_custom></b2_icon_custom>
                <b3_title></b3_title>
                <b3_text></b3_text>
                <b3_icon></b3_icon>
                <b3_icon_custom></b3_icon_custom>
                <b4_title></b4_title>
                <b4_text></b4_text>
                <b4_icon></b4_icon>
                <b4_icon_custom></b4_icon_custom>
            </store_benefits>
        </hyvastarter>
    </default>
</config>
