<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Metalio_Settings::root"
             title="Metalio"
             module="Metalio_Settings"
             sortOrder="50"
             resource="Metalio_Settings::root"/>
        <add id="Metalio_Settings::config"
             title="Nastavenia"
             module="Metalio_Settings"
             sortOrder="10"
             parent="Metalio_Settings::root"
             action="adminhtml/system_config/edit/section/metalio"
             resource="Metalio_Settings::config"/>
    </menu>
</config>
