.timer-wrap {
	margin-top: 10px;
	background: #f2f2f2;
    padding: 5px;
}
.ui-tooltip.timer-tooltip {
	background: #0f0f0f;
	border: 0;
	box-shadow: none;
	color: #fff;
}
.timer-inner {
	cursor: pointer;
	padding: 5px 5px;
    background: #f2f2f2;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
}