<?xml version="1.0"?>
<!--
/**
 * @category  Apptrian
 * @package   Apptrian_Subcategories
 * @author    Apptrian
 * @copyright Copyright (c) Apptrian (http://www.apptrian.com)
 * @license   http://www.apptrian.com/license Proprietary Software License EULA
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="apptrian_subcategories" frontName="apptrian_subcategories">
            <module name="Apptrian_Subcategories" before="Magento_Backend" />
        </route>
    </router>
</config>
