<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BigConnect_Core::main" title="BigConnect" module="BigConnect_Core" sortOrder="51" resource="BigConnect_Core::main"/>
    </menu>
</config>