<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="BigConnect" translate="label" sortOrder="400">
            <label>BigConnect</label>
        </tab>
        <section id="bigconnect_coresettings" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Core settings</label>
            <tab>BigConnect</tab>
            <resource>Magento_Config::config_admin</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="number_photos" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number Of Photos</label>
                    <validate>validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>