<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="layout_generate_blocks_after">
        <observer name="remove_apptrian_subcategories"
                  instance="MetaloPro\GateCategoryControl\Observer\RemoveSubcategoriesBlock"/>
        <observer name="remove_addtocart_for_search_only"
                  instance="MetaloPro\GateCategoryControl\Observer\RemoveAddToCartIfSearchOnly"/>
       
    </event>



</config>
