.product-item {
    

    .special-price .price-container .price-label {
        @apply sr-only;
    }

    .old-price .price-container {
        @apply text-gray-500;

        .price {
            @apply font-normal text-base;
        }
    }
}
