<?xml version="1.0"?>
<!--
/**
 * Copyright © Ecwhim. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Ecwhim_SeoTemplates::seo_templates"
                              title="SEO Templates" translate="title" sortOrder="41">
                        <resource id="Ecwhim_SeoTemplates::seo_templates_product_template"
                                  title="Product Templates" translate="title" sortOrder="10"/>
                        <resource id="Ecwhim_SeoTemplates::seo_templates_category_template"
                                  title="Category Templates" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
